<!-- About Section -->
<div class="container text-center">
    <img class="img-fluid my-2" src="images/profile.png" alt="kostov_image">
    <h1 class="text-uppercase mb-0">{{about.name}}</h1>
    <hr class="star-light">
    <h5 class="font-weight-light mb-0" >{{about.occupation}}</h5>
    <div class="container text-secondary my-4">
        <p style="font-style: italic;" id="aboutText">
               {{about.trivia}}
        </p>
    </div>
</div>